body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
}

header {
  text-align: center;
  padding: 20px;
}

input {
  width: 80%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
}

#wallpaperContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 15px;
  padding: 20px;
}

.wallpaper-card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  transition: 0.3s;
  background: #fff;
}

.wallpaper-card:hover {
  transform: scale(1.03);
}

.wallpaper-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.download-btn {
  width: 100%;
  padding: 10px;
  background: #ff0099;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.download-btn:hover {
  background: #ff55bb;
}
