/* GENEL */
body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial;
}

/* LIGHT MODE */
body.light {
    background: #f1f1f1;
    color: #000;
}

/* HEADER */
header {
    background: #00aaff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header input {
    padding: 10px;
    border-radius: 8px;
    border: none;
}

/* Tema butonu */
#themeBtn {
    margin-left: 10px;
    font-size: 20px;
    padding: 8px 12px;
    border: none;
    background: #222;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

/* NAV */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 15px;
}
nav button {
    background: #222;
    color: white;
    border: 1px solid #444;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}
nav button:hover {
    background: #00aaff;
}

/* GALLERY */
#gallery {
    padding: 20px;
    columns: 2;
    gap: 10px;
}
#gallery img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* PC */
@media(min-width:700px){ #gallery{columns:3;} }
@media(min-width:1100px){#gallery{columns:4;}}

/* REKLAM */
.ad-banner {
    margin: 20px auto;
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
    width: 90%;
    border-radius: 8px;
}

/* DETAIL */
.detail-page img {
    width: 95%;
    margin-top: 20px;
}
.detail-page a {
    display: inline-block;
    margin-top: 20px;
    background: #00aaff;
    padding: 15px 30px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
}
